In [1]:
import docker
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker
from sqlalchemy.sql.expression import text
from sqlalchemy.schema import CreateSchema

In [2]:
from euphoria.backend.common.db.sqlalchemy.base import Base
from euphoria.backend.common.models.tasks import Task

In [3]:
client = docker.DockerClient()

In [4]:
testdb = client.containers.run(
    'postgres:14',
    detach=True,
    environment={
        'ENVIRONMENT': 'development',
        'POSTGRES_USER': 'postgres',
        'POSTGRES_PASSWORD': 'postgres',
    },
    name='testdb',
    ports={5432: 5434},
    mem_limit='2g',
    auto_remove=True,
)

In [6]:
testdb.stop()

In [5]:
engine = create_engine("postgresql://postgres:postgres@localhost:5434", echo=False, future=True)
SessionTesting = sessionmaker(bind=engine, autocommit=False, autoflush=False, future=True)

In [6]:
schemas = ['apartments', 'habits', 'moving', 'portfolio', 'priorities', 'tasks', 'tracks']
with SessionTesting() as session:
    # session.execute(text("CREATE DATABASE euphoria"))
    for schema_name in schemas:
        session.execute(CreateSchema(schema_name))
    session.commit()

In [7]:
Base.metadata.create_all(engine)

In [8]:
def create_tasks_test_database(num: int = 10):
    return [
        {"name": f"task-{num}", "category": f"category-{num}", "priority": num}
        for num in range(num)
    ]


TASKS_TO_CREATE = create_tasks_test_database()

In [11]:
with SessionTesting() as session:
    for task in TASKS_TO_CREATE:
        session.add(Task(**task))
    session.commit()

In [12]:
with SessionTesting() as session:
    print(session.query(Task).all())

['Task(name = task-0, priority = 0, category = category-0,
            add_date = 2022-08-23 03:29:33.195944+00:00, complete_date = None), 'Task(name = task-0, priority = 0, category = category-0,
            add_date = 2022-08-23 03:30:09.952856+00:00, complete_date = None), 'Task(name = task-1, priority = 1, category = category-1,
            add_date = 2022-08-23 03:30:09.952856+00:00, complete_date = None), 'Task(name = task-2, priority = 2, category = category-2,
            add_date = 2022-08-23 03:30:09.952856+00:00, complete_date = None), 'Task(name = task-3, priority = 3, category = category-3,
            add_date = 2022-08-23 03:30:09.952856+00:00, complete_date = None), 'Task(name = task-4, priority = 4, category = category-4,
            add_date = 2022-08-23 03:30:09.952856+00:00, complete_date = None), 'Task(name = task-5, priority = 5, category = category-5,
            add_date = 2022-08-23 03:30:09.952856+00:00, complete_date = None), 'Task(name = task-6, priority = 6, category = category-6,
            add_date = 2022-08-23 03:30:09.952856+00:00, complete_date = None), 'Task(name = task-7, priority = 7, category = category-7,
            add_date = 2022-08-23 03:30:09.952856+00:00, complete_date = None), 'Task(name = task-8, priority = 8, category = category-8,
            add_date = 2022-08-23 03:30:09.952856+00:00, complete_date = None), 'Task(name = task-9, priority = 9, category = category-9,
            add_date = 2022-08-23 03:30:09.952856+00:00, complete_date = None)]

In [5]:
import psycopg2
connection = psycopg2.connect(user='postgres', password='postgres', host='localhost', port='5434', database='postgres')
cursor = connection.cursor()
create_table_query = '''CREATE TABLE mobile
          (ID INT PRIMARY KEY     NOT NULL,
          MODEL           TEXT    NOT NULL,
          PRICE         REAL); '''
    # Execute a command: this creates a new table
cursor.execute(create_table_query)
connection.commit()
# Executing a SQL query to insert data into  table
insert_query = """ INSERT INTO mobile (ID, MODEL, PRICE) VALUES (1, 'Iphone12', 1100)"""
cursor.execute(insert_query)
connection.commit()
print("1 Record inserted successfully")
# Fetch result
cursor.execute("SELECT * from mobile")
record = cursor.fetchall()
print("Result ", record)

# Executing a SQL query to update table
update_query = """Update mobile set price = 1500 where id = 1"""
cursor.execute(update_query)
connection.commit()
count = cursor.rowcount
print(count, "Record updated successfully ")
# Fetch result
cursor.execute("SELECT * from mobile")
print("Result ", cursor.fetchall())

# Executing a SQL query to delete table
delete_query = """Delete from mobile where id = 1"""
cursor.execute(delete_query)
connection.commit()
count = cursor.rowcount
print(count, "Record deleted successfully ")
# Fetch result
cursor.execute("SELECT * from mobile")
print("Result ", cursor.fetchall())

1 Record inserted successfully
Result  [(1, 'Iphone12', 1100.0)]
1 Record updated successfully
Result  [(1, 'Iphone12', 1500.0)]
1 Record deleted successfully
Result  []

In [18]:
stuff = ['one', 'two', 'three', 4]

In [25]:
def endpoint(paths: str | list) -> str:
    paths = [paths] if isinstance(paths, str) else paths
    return f'/{"/".join([str(s) for s in paths])}/'

In [26]:
endpoint(stuff)

'/one/two/three/4/'

In [27]:
endpoint('one')

'/one/'

In [30]:
import random
random.choices(range(1, 20), k=5)

[7, 19, 14, 16, 13]

In [1]:
routers = ['one', 'two', 'three']
list(routers)

['one', 'two', 'three']

In [2]:
[routers]

[['one', 'two', 'three']]