In [2]:
from datetime import datetime

In [20]:
some_date = datetime(2021, 12, 25, 22, 35, 16, 170207)

def update_priority(add_date):
    days = (datetime.now() - add_date).days
    subtractions = 0
    q, r = divmod(days, 7)
    if q > 0 and r == 0:
        # Do the work here but in the db
        print('subtract')
update_priority(some_date)

subtractions 14

In [1]:
q, r = divmod(23, 7)

(3, 2)

In [137]:
d = DB(conn)

In [135]:
d.daily_5_tasks()

,name,category,subcategory1,subcategory2,priority,add_date,complete_date
id,,,,,,,
9,task9,computer,None,None,0,2022-04-01 22:49:56.769624-06:00,None
10,task10,work,None,None,1,2022-04-01 22:49:56.769624-06:00,None
1,task1,computer,None,None,10,2022-04-01 22:49:56.769624-06:00,None
6,task6,chore,None,None,13,2022-04-01 22:49:56.769624-06:00,None
2,task2,computer,None,None,15,2022-04-01 22:49:56.769624-06:00,None

In [120]:
task1 = Task('new task', 'financial', None, None, 20, datetime.utcnow(), None)

In [121]:
d.add_task(task1)

In [127]:
c = d._execute("select * from tasks where name = 'new task';")
c.fetchall()

[(11,
  'new task',
  'financial',
  None,
  None,
  20,
  datetime.datetime(2022, 4, 2, 2, 4, 14, 778625, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=64800))),
  None),
 (12,
  'new task',
  'financial',
  None,
  None,
  20,
  datetime.datetime(2022, 4, 2, 2, 24, 30, 993332, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=64800))),
  None),
 (13,
  'new task',
  'financial',
  None,
  None,
  20,
  datetime.datetime(2022, 4, 2, 2, 26, 16, 24248, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=64800))),
  None),
 (14,
  'new task',
  'financial',
  None,
  None,
  20,
  datetime.datetime(2022, 4, 2, 2, 27, 44, 2659, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=64800))),
  None),
 (15,
  'new task',
  'financial',
  None,
  None,
  20,
  datetime.datetime(2022, 4, 2, 2, 29, 18, 170860, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=64800))),
  None)]

In [128]:
d.complete_task(3)

(3, 'task3', 'computer', None, None, 8, datetime.datetime(2022, 4, 1, 22, 49, 56, 769624, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=64800))), None)
(3, 'task3', 'computer', None, None, 8, datetime.datetime(2022, 4, 1, 22, 49, 56, 769624, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=64800))), datetime.datetime(2022, 4, 2, 1, 30, 9, 465101, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=64800))))

In [129]:
d.daily_5_tasks()

,name,category,subcategory1,subcategory2,priority,add_date,complete_date
id,,,,,,,
9,task9,computer,None,None,0,2022-04-01 22:49:56.769624-06:00,NaT
10,task10,work,None,None,1,2022-04-01 22:49:56.769624-06:00,NaT
3,task3,computer,None,None,8,2022-04-01 22:49:56.769624-06:00,2022-04-02 01:30:09.465101-06:00
1,task1,computer,None,None,10,2022-04-01 22:49:56.769624-06:00,NaT
6,task6,chore,None,None,13,2022-04-01 22:49:56.769624-06:00,NaT

In [138]:
d.completed_tasks()

,name,category,subcategory1,subcategory2,priority,add_date,complete_date
id,,,,,,,
3,task3,computer,None,None,8,2022-04-01 22:49:56.769624-06:00,2022-04-02 01:30:09.465101-06:00